pyserial==3.1.1
six==1.10.0
subprocess32==3.2.7
requests~=2.27.1
python-logstash==0.4.6
paramiko==2.5.0
scp==0.13.0
sarge==0.1.5.post0
decorator==4.3.0
pillow==5.3.0
pexpect==4.6.0
dlipower==1.0.176 
xmltodict==0.11.0
pysftp==0.2.9
pysmb==1.1.25
pyvirtualdisplay==0.2.1
BeautifulSoup==3.2.1
backports.ssl_match_hostname==3.5.0.1
chardet==3.0.4
click==6.6
numpy==1.15.4
colorlog==2.10.0
pyCurl==7.43.0
python-dateutil==2.6.0
bluepy==1.1.4
Appium-Python-Client==0.31
urllib3==1.23
lxml==4.4.1
enum34
packaging==20.8
pyjwt==1.7.1
deepdiff==3.3.0
termcolor==1.1.0